# Bytecode y caché
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
env/
venv/

# Configuración de entorno local
.env
.env.*

# Archivos temporales / de sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
*.swp
*.sublime*

# Archivos de testing/coverage (opcional)
coverage/
htmlcov/
.tox/
pytest_cache/
.cache/

# Compilaciones (si usas Cython o similares)
build/
dist/
*.egg-info/
